<div class="top-row ps-3 navbar navbar-dark" style="background-color: #FDEE00">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-3">
                <img src="/images/logoUCNE.png" style="width: 100%" />
            </div>

            <div class="col-9">
                <a class="navbar-brand text-dark">UCNE</a>
            </div>
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/UCNE/Registros" Match="NavLinkMatch.All">
                <span class="bi bi-file-text-fill fs-4 mb-4" aria-hidden="true"></span> Registros Académicos
            </NavLink>
        </div>
    </nav>
</div>