@page "/UCNE/Registros/{RegistradorId:int}"

@inject RegistradorService registradorService

<PageTitle>Registros Académicos</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title"><strong>Consulta de Registros</strong></h5>
        </div>

        <div class="card-body">

            <div class="d-flex justify-content-end">
                <a href="" class="btn btn-primary">Crear Nueva Solicitud</a>
            </div>


        </div>

    </div>
</div>

@code {
    [Parameter]
    public int RegistradorId{ get; set; }

    public Registrador Registrador { get; set; } = new();

    public List<Documento> ListaDocumentos = new List<Documento>();

    protected override async Task OnInitializedAsync()
    {
        Registrador = await registradorService.BuscarPorId(RegistradorId);
        // ListaDocumentos = listar de documentos service
    }
}
