@page "/"

@inject RegistradorService registradorService
@inject NavigationManager Navigation

<PageTitle>Iniciar Sesión</PageTitle>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card shadow-lg">
                <div class="card-header">

                    <div class="row">

                        <div class="col-3">
                            <img src="/images/logoUCNE.png" style="width: 100%"/>
                        </div>

                        <div class="col-9 text-center d-flex align-items-center">
                            <h1>Universidad Católica Nordestana</h1>
                        </div>

                    </div>
                </div>

                <div class="card-body">

                    <div class="row justify-content-center">

                        <div class="col-8">

                            <div class="mb-3">
                                <h4 class="card-title text-center"><strong>Iniciar Sesión</strong></h4>
                            </div>

                            <div class="mb-3">
                                <label class="form-label"><strong>Usuario</strong></label>
                                <InputText class="form-control" @bind-Value="Usuario"></InputText>
                            </div>

                            <div class="mb-3">
                                <label class="form-label"><strong>Contraseña</strong></label>
                                <input type="password" class="form-control" @bind-value = "Password"/> 
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card-footer text-center">

                    <div class="mt-2">
                        <a href="/UCNE/Registros" class="btn btn-danger"> Conectar </a>
                        <button type="submit" class="btn btn-secondary" @onclick ="Conectar"> Conectar </button>
                    </div>

                    <div class="mt-3">
                        <p><a class="link-opacity-75-hover" href="">¿Ha olvidado su contraseña?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public string? Usuario;
    public string? Password;

    public Registrador Registrador = new Registrador();

    public async Task Conectar()
    {
        if (!string.IsNullOrEmpty(Usuario) && !string.IsNullOrEmpty(Password))
        {
            if (await registradorService.ExisteCredenciales(Usuario, Password))
            {
                Registrador = await registradorService.BuscarPorCredenciales(Usuario, Password);
                Navigation.NavigateTo($"/UCNE/Registros/{Registrador?.RegistradorId}");
            }
        }
    }
}